@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Playfair+Display:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0 auto;
    align-content: center;
    background-color: #FFF1D0;
}


header {
    
     text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #8D99AE;
    background-image: linear-gradient(to right, #F0C808, white);
}

footer {
    width: 100%;
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #8D99AE;
    background-image: linear-gradient(to right, #F0C808, white);
}

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 767px;
	margin: 0 auto;
}
img {
    width: 100%;

}

main section {
    padding: 1rem;
    box-shadow: 0px 5px 10px #8D99AE;
    width: 310px;
    margin-left: .5rem;
    padding-top: .5rem;

}
.jumia {
    grid-column: 1;
}
.boomplay {
    grid-column: 2;
}

.coke {
    grid-column: 3;
}

p {
    text-align: left;
}
